<div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto" style="user-select: auto;">
  <h2 style="user-select: auto;">User info</h2>

  <%= form_with model:@user, local:true do |f| %>
    <div class="form-group" style="user-select: auto;">
      <label for="user_name" style="user-select: auto;">Name</label>
      <%= f.text_field :name %>
    </div>

    <div class="form-group" style="user-select: auto;">
      <label for="user_image" style="user-select: auto;">Image</label>
      <%= f.attachment_field :profile_image %>
    </div>

    <div class="form-group" style="user-select: auto;">
      <label for="user_introduction" style="user-select: auto;">Introduction</label>
      <%= f.text_area :introduction %>
    </div>

    <div class="form-group" style="user-select: auto;">
      <%= f.submit "Update User" %>
    </div>

  <% end %>
</div>

